*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: red;
}


#hero-details-modal.is-hidden {
  opacity: 0;
  z-index: -1;
}

#hero-details-modal {
  height: 100vh;
  width: 100vw;
  background: var(--color-dark);
  position: absolute;
  opacity: 1;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-light);
  transition: opacity .3s linear;
}

#hero-details-modal .btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

#img-dc-comics
{
  min-width:354px ;
  height: 142px;
}
#img-dc-comics,
#img-marvel{
  cursor: pointer;
}


.logo{

  display: flex;
  justify-content: space-around;
  align-items: center;}

  .title{font-weight: 300px;
  margin-left: 800px;
  ;}

  #input{    width: 300px;
    height: 44px;
    margin-left: 795px;
    margin-bottom: 100px;
    margin-top: 50px;
}

#modal{
height: 100vh;
width: 400px;
}